:root{
  --heading-color: #66bfbf;             /*nav,h2,bottom color.*/
  --content-fs: 1.8vw;                  /*Content Font Size*/
  --basic-ff: "Montserrat", sans-serif; /*h2, h3 & other Font Family*/
  --icon-fs: 4vw;                       /*icon size*/
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  color: #40514e;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  line-height: 2;
}

/*vw is for % according to viewport responsive 
  for mobile and pc*/
/*1vw = 12.8px, 1vh = 6.09px for my chrome browser*/
/*100% = 1em = 16px. Use rem i.e. root em instead of em because
  em & % is relative to parent measures i.e. body is 2em.*/

h2 {
  font-family: var(--basic-ff);
  font-size: 4vw;
  color: var(--heading-color);
  font-weight: normal;
  margin-bottom: 2.75%;
}

h3 {
  font-family: var(--basic-ff);
  font-size: 2.25vw;
  color: #11999e;
}

hr {
  border: dotted #66bfbfab 6px;
  border-bottom: none;
  width: 8%;
  margin: 6% auto;
}

nav{
  height: 7vw; /*89.6px, 14.28vh */
  background-color: var(--heading-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 100%;
}

#top-container {
  background-color: #e4f9f5;
  height: 47.578vw; /*100vh*/
  position: relative;
}

.logo{
  width: 40%;
}

.logo h1{
  font-family: 'Acme', sans-serif;
  font-size: 3vw;
  letter-spacing: 0.2vw;
  word-spacing: 1vw;
  text-shadow: 0.15vw 0.15vw 0.15vw #ff0062;
  color: #e4f9f5;
}

.menu{
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu a{
  font-size: 1.35vw;
  letter-spacing: 0.1vw;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: #e4f9f5;
  position: relative;
}

.menu a:before{
  content: "";
  position: absolute;
  height: 0.18vw;
  top: 90%;
  width: 0%;
  left: 0;
  background-color: #ff0062;
  transition: all 0.5s linear;
}

.menu a:hover:before{
  width: 100%;
}

nav + h2{
  padding-top: 11%;
}

.PJ{
  width: 20%;
  max-width: 100%;
  margin-top: 2.75%;
}

.middle-container {
  width: 100%;
  padding: 7% 0 10%;
  /* height: 350vh; */
}

/* .profile{
  height: 100vh;
} */

.programmer{
  width: 25vw;
  margin-bottom: 2.75%;
  max-width: 100%;
}

.intro {
  width: 40%;
  margin: 0 auto;
  font-size: var(--content-fs);
}

.a{
  overflow: auto;
}

/* #skills{
  height: 100vh;
} */

.skill-row {
  width: 60%;
  margin: 6% auto;
  text-align: left;
  size: 25%;
  font-size: var(--content-fs);
}

.DD-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.BS-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

/* #my-projects{
  height: 50vh;
}

.contact-me{
  height: 100vh;
} */

.contact-message {
  width: 40%;
  margin: 3% auto 3%;
  font-size: var(--content-fs);
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 0.625vw;
  font-family: var(--basic-ff);
  color: #ffffff;
  font-size: 2vw;
  padding: 0.85vw 1.7vw;
  text-decoration: none;
  margin: 0 2%;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  padding: 0.85vw 1.7vw;
  text-decoration: none;
}

.bottom-container {
  background-color: #66bfbf;
  padding: 6% 0 1%;
  /* height: 30vh; */
}

.bottom-container div{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.fa-envelope{
  font-size: 2vw;
  color: #EA4335;
}

.fa-linkedin{
  font-size: var(--icon-fs);
  color: #0077B5;
}

.fa-instagram{
  font-size: var(--icon-fs);
  color: #E95950;
}

.fa-twitter{
  font-size: var(--icon-fs);
  color: #1DA1F2;
}

.fa-whatsapp-square{
  font-size: var(--icon-fs);
  color: #435A64;
}

.fa-github{
  font-size: var(--icon-fs);
  color: #4078c0;
}

.copyright {
  color: #eaf6f6;
  font-size: 1.5vw;
  padding-top: 5%;
}
