:root{
  --heading-color: #66bfbf;             /*h1, h2 color.*/
  --content-fs: 1.8vw;                  /*Content Font Size*/
  --basic-ff: "Montserrat", sans-serif; /*h2, h3 & other Font Family*/
  --icon-fs: 4vw;                       /*icon size*/
}

body {
  color: #40514e;
  text-align: center;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  line-height: 2;
}

h1 {
  font-size: 9vw; /*vw is for % according to vewport responsive 
                    for mobile and pc*/
                  /*100% = 1em = 16px. Use rem i.e. root em instead of em because
                    em & % is relative to parent measures i.e. body is 2em.*/
  margin: auto;
  font-family: "Sacramento", cursive;
  color: var(--heading-color);
}

h2 {
  font-family: var(--basic-ff);
  font-size: 4vw;
  color: var(--heading-color);
  font-weight: normal;
  padding-bottom: 0.8%;
}

h3 {
  font-family: var(--basic-ff);
  font-size: 2.25vw;
  color: #11999e;
}

hr {
  border: dotted #eaf6f6 6px;
  border-bottom: none;
  width: 8%;
  margin: 6% auto;
}

.top-container {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 4vw;
}

#first-h2{
  margin-top: 0px;
}

/* .top-cloud {
  position: absolute;
  right: 13%;
  top: 40px;
  width: 12%;
}

.bottom-cloud {
  position: absolute;
  left: 12%;
  width: 12%;
} */

.programmer{
  width: 25%;
  max-width: 100%;
}

.middle-container {
  width: 100%;
  margin: 7% 0 10%;
}

.PJ{
  width: 20%;
  max-width: 100%;
}

.intro {
  width: 40%;
  margin: auto;
  font-size: var(--content-fs);
}

.a{
  overflow: auto;
}

.skill-row {
  width: 60%;
  margin: 8% auto;
  text-align: left;
  size: 25%;
  font-size: var(--content-fs);
}

.DD-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.BS-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.bottom-container {
  background-color: #66bfbf;
  padding: 6% 0 1%;
}

.contact-message {
  width: 40%;
  margin: 3% auto 3%;
  font-size: var(--content-fs);
}

a {
  color: #11999e;
  font-family: var(--basic-ff);
  margin: 0.8% 4%;
  padding: 1%;
  text-decoration: none;
  font-size: 2vw;
  /* background-color: #eaf6f6; */
  border-radius: 8%;
}

a:hover {
  background-color: #66bfbf;
  color: #eaf6f6;
}

.copyright {
  color: #eaf6f6;
  font-size: 1.5vw;
  padding: 5% 0 0 0;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: var(--basic-ff);
  color: #ffffff;
  font-size: 2vw;
  padding: 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  padding: 10px 20px;
  text-decoration: none;
}

.fa-envelope{
  font-size: 2vw;
  color: #EA4335;
}

.fa-linkedin{
  font-size: var(--icon-fs);
  color: #0077B5;
}

.fa-instagram{
  font-size: var(--icon-fs);
  color: #E95950;
}

.fa-twitter{
  font-size: var(--icon-fs);
  color: #1DA1F2;
}

.fa-whatsapp-square{
  font-size: var(--icon-fs);
  color: #435A64;
}

.fa-github{
  font-size: var(--icon-fs);
  color: #4078c0;
}
