body {
  color: #40514e;
  text-align: center;
  margin: 0;
  font-family: "Merriweather", serif;
  line-height: 2;
}

h1 {
  font-size: 9vw; /*vw is for % according to vewport responsive for mobile and pc*/
                      /*100% = 1em = 16px. Use rem i.e. root em instead of em because
                        em & % is relative to parent measures i.e. body is 2em.*/
  margin: auto;
  font-family: "Sacramento", cursive;
  color: #66bfbf;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.5vw;
  color: #66bfbf;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.75vw;
  color: #11999e;
}

hr {
  border: dotted #eaf6f6 6px;
  border-bottom: none;
  width: 8%;
  margin: 80px auto;
}

.top-container {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;
}

.top-cloud {
  position: absolute;
  right: 13%;
  top: 40px;
  width: 12%;
}

.bottom-cloud {
  position: absolute;
  left: 12%;
  width: 12%;
}

.mountain{
  max-width: max-content;
  width: 43%;
}

.middle-container {
  margin: 100px 0;
}

.PJ{
  width: 100%;
  max-width: max-content;
}

.intro {
  width: 30%;
  margin: auto;
  font-size: 1.3vw;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  size: 25%;
  font-size: 1.25vw;
}

.DD-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.BS-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.bottom-container {
  background-color: #66bfbf;
  padding: 50px 0 20px;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
  font-size: 1.25vw;
}

a {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
  margin: 10px 30px;
  text-decoration: none;
  font-size: 1.7vw;
}

a:hover {
  background-color: #eaf6f6;
  padding: 10px;
}

.copyright {
  color: #eaf6f6;
  font-size: 1.3vw;
  padding: 20px 0;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 2vw;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
